<h1> Portfolio Item</h1>

<%= form_with(model: @portfolio_item) do |f| %>
    <div>
      <%= f.label :title, style: "display: block" %>
      <%= f.text_field :title %>
    </div>
  
    <div>
      <%= f.label :body, style: "display: block" %>
      <%= f.text_area :body %>
    </div>

    <div>
      <%= f.label :subtitle, style: "display: block" %>
      <%= f.text_area :subtitle %>
    </div>
  
    <div>
      <%= f.submit %>
    </div>
  <% end %>
  